* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #E5E5E5;
    color: #000000;
}
.container {
    max-width: 1270px;
    margin: 0 auto;
}
.main_header {
    background: url(../uploads/header-bg.jpg);
    background-size: cover;
    height: 800px;
    color: #ffffff;
    text-transform: uppercase;
}
.header_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_section {
    display: flex;
    list-style: none;
}
.logo {
    margin: 25px 75px;
}
.nav_item {
    margin-right: 85px;
    margin-top: -63px;
}
.nav_item:last-child {
    margin-right: 0;
}
a.nav_link {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}
.nav_link:hover {
    color: #E8C300;
}
.header_title {
    margin: 125px 0 5px;
    text-align: center;
    position: relative;
}
.small_title {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
    padding: 7px 0 0 0;
}
.main_title {
    font-family: 'Banny';
    font-size: 96px;
    text-transform: uppercase;
    background: url(../img/header_separator.svg) 49% 100% no-repeat;
    padding-bottom: 15px;
}
.header_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_btn {
    padding: 20px 50px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin: 30px 52px 30px 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.header_btn:hover {
    background: #E8C300;
}
.social_buttons {
    position: absolute;
    top: 7px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.social_btn {
    padding-bottom: 14px;
}
.scroll_button {
    position: relative;
}
.down_btn {
    position: absolute;
    margin: 45px 0;
    left: calc(50% - 50px);  
}
.about_us {
    padding: 100px 0;
}
.aboutus {
    display: flex;
    justify-content: space-evenly;
}
.about_us_text {
    flex: 50%;
    padding: 117px 57px 0 0;
}
.section_title {
    font-family: 'Banny';
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    background: url(../img/header_separator.svg) 55% 100% no-repeat;
    padding: 0 0 13px 52px;
}
.section_bold_text {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    padding: 13px 0 18px;
}
.section_small_text {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
.about_us_image {
    flex: 50%;
    position: relative;
    width: 475px;
    height: 475px;
    padding-left: 33px;
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
}
.square {
    position: absolute;
    height: 250px;
    width: 250px;
    top: 24%;
    right: 0;
    border: 20px solid #E8C300;
    border-radius: 5px;
}