* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #E5E5E5;
    color: #000000;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
